body {
  min-width: 325px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .brand-logo {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}

.bold-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

/* ----------------------------------------Buttons */
.update-buttons-resize {
    width: 100%;
}

.card-content .btn {
    width: 100%;
}

.card-reveal .btn {
    width: 50%;
}

/* ----------------------------------------Star ratings */
.star-rating-container > img {
    width: 50%;
}

.review-rating {
    width: 100px;
}

.main-review-rating {
    width: 150px;
}

/* ----------------------------------------Margins */
.margin-top {
    margin-top: 20px;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.row {
    margin-bottom: 10px;
}

/* ----------------------------------------Cards */
.close-reveal, .open-reveal {
    position: absolute;
    right: 15px;
}

.hr-card {
    margin-bottom: 10px;
}

.card-image-element {
    margin-top: 24px;
    height: 200px;
    object-fit: scale-down;
}

/* ----------------------------------------Media Queries */
@media only screen and (min-width: 768px) {
  .update-buttons-resize {
    width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  .card-image-element {
    height: 400px;
  }

  .update-buttons-resize {
    width: 50%;
  }
}