body {
 min-width: 325px;
}

.star-rating-container > img {
    width: 50%;
}

.main-review-rating {
    width: 150px;
}

.review-rating {
    width: 100px;
}

h1, h2, h3, h4, h5, h6, .brand-logo {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}

.row {
    margin-bottom: 10px;
}

.hr-card {
    margin-bottom: 10px;
}

.card-image-element {
    margin-top: 24px;
    height: 200px;
    object-fit: scale-down;
}

.card-content .btn {
    width: 100%;
}

.card-reveal .btn {
    width: 50%;
}

.review-edit-button {
    padding: 5px;
}

@media only screen and (min-width: 993px) {
  .card-image-element {
    height: 400px;
  }
}