{% extends 'base.html' %}
{% block content %}
<div class="center-align container section">
  <h3>Write a review for {{book.title.title()}}</h3>
</div>
<div class="row container section">
  <form class="col s12" action="{{url_for('insert_review')}}" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">face</i>
        <input id="name" name="name" type="text" required>
        <label for="name">Your Name</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">star_rate</i>
        <select id="rating" name="rating" required>
          <option value="" disabled selected>Rating</option>
          <option value="0">0 Star</option>
          <option value="2">1 Star</option>
          <option value="4">2 Star</option>
          <option value="6">3 Star</option>
          <option value="8">4 Star</option>
          <option value="10">5 Star</option>
        </select>
        <label>Star Rating</label>
      </div>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">description</i>
      <textarea name="review" id="review" class="materialize-textarea"></textarea>
      <label for="review">Review</label>
    </div>
    <input type="hidden" name="book_id" value="{{book._id}}" />
    <button class="btn waves-effect waves-light" type="submit">
      Submit Review
      <i class="material-icons right">add_circle</i>
    </button>
  </form>
</div>
{% endblock %}