{% extends 'base.html' %}
{% block content %}
<div class="center-align container section">
  <h3>Update - {{book.title.title()}}</h3>
</div>
<div class="row container section">
  <form class="col s12" action="{{url_for('update_book', book_id=book._id)}}" method="POST">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">book</i>
        <input id="title" name="title" type="text" value="{{book.title.title()}}" required>
        <label for="title">Title</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">face</i>
        <input id="author" name="author" type="text" value="{{book.author.title()}}" required>
        <label for="author">Author</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">link</i>
        <input id="link" name="link" type="text" value="{{book.link}}" required>
        <label for="link">Cover Image Link</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">shopping_cart</i>
        <input id="buy_link" name="buy_link" type="text" value="{{book.buy_link}}" required>
        <label for="buy_link">Purchase Link</label>
      </div>
    </div>
    <div class="input-field col s12">
      <select id="genre" name="genre" size="5" required>
        {% for genre in genres %}
          {% if genre.genre_name == book.genre %}
          <option value="{{genre.genre_name}}" selected>{{genre.genre_name}}</option>
          {% else %}
          <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label>Genre</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">description</i>
      <textarea name="summary" id="summary" class="materialize-textarea" required>{{book.summary}}</textarea>
      <label for="summary">Summary</label>
    </div>
    <div class="row">
      <div class="col s6 margin-top">
        <button class="btn waves-effect waves-light update-buttons-resize" type="submit">
          Update Book
          <i class="material-icons right">playlist_add</i>
        </button>
      </div>
      <div class="col s6 margin-top">
        <a href="#delete-book-modal" class="waves-effect waves-light modal-trigger right btn red update-buttons-resize"><i
          class="material-icons right">delete_forever</i>Delete Book</a>
      </div>
    </div>
  </form>
</div>
<!-- Delete book modal -->
<div id="delete-book-modal" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Delete {{book_id}}</h4>
    <p class="center-align margin-top">Are you sure you want to delete this book and all of its reviews.</p>
    <p class="center-align">This operation cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6 margin-top">
        <a href="#!" class="modal-close waves-effect waves-light update-buttons-resize btn right">Cancel</a>
      </div>
      <div class="col s6 margin-top">
        <a href="{{url_for('delete_book', book_id=book._id)}}" class="waves-effect waves-light right btn red update-buttons-resize"><i
          class="material-icons right">delete_forever</i>Delete Book</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}