{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for book in books %}
        <div class="col s12 m6 l4 center-align">
            <div class="card-container">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-image-element" src="{{book.link}}" alt="Book Cover for {{book.title}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><p><strong>{{book.title.title()}}</strong></p><p>By {{book.author.title()}}<i class="material-icons right">more_vert</i></span>
                        <hr>
                        <div class="row">
                            <div class="col s6">
                                <p class="center-align"><a href="{{url_for('view_reviews', book_id=book._id)}}" class="waves-effect waves-light btn">{{book.reviews|length}} Reviews</a></p>
                            </div>
                            <div class="col s6">
                                <div class="rating-container center-align">
                                    <img src="{{url_for('static', filename='images/stars/star-')}}{{book.rating}}.png" alt="{{book.rating}} stars image" class="star-rating">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col s6">
                                <p class="center-align"><a href="{{url_for('add_review', book_id=book._id)}}" class="waves-effect waves-light btn">Write Review</a></p>
                            </div>
                            <div class="col s6">
                                <p class="center-align"><a href="{{book.buy_link}}" class="waves-effect waves-light btn"><i class="material-icons left">shopping_cart</i>BUY NOW!</a></p>                        
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                        <h4><strong>{{book.title.title()}}</strong></h4>
                        <p>by {{book.author.title()}}</p>
                        <img src="{{url_for('static', filename='images/stars/star-')}}{{book.rating}}.png" alt="{{book.rating}} stars image" class="star-rating">
                        <p>{{book.summary}}</p>
                        <p class="center-align"><a href="{{book.buy_link}}" class="waves-effect waves-light btn"><i class="material-icons left">shopping_cart</i>BUY NOW!</a></p>
                        <p class="center-align"><a href="{{url_for('edit_book', book_id=book._id)}}" class="waves-effect waves-light btn"><i class="material-icons left">create</i>Edit Book</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}